@font-face {
    font-family: 'fonte_titulo';
    src: url('fontes/titulo/BebasNeue-Regular.ttf') format('OpenType');
}
@font-face {
    font-family: 'fonte_texto';
    src: url('fontes/texto/Roboto-VariableFont_wdth\,wght.ttf') format('TrueType');
}


html, body{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: azure;
    background-image: url(imagens/fundo_site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#bloco_geral{
    position: relative;
}
#bloco_geral_login{
    position: absolute;
    left: 95%;
    top: 45px;
    transform: translate(-98%);
    background-color: #d3d2d2cc;
    width: 100%;
    max-width: 500px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #00000037, -4px -4px -4px #00000037;
}
.logo_wec{
    width: 400px;
    position: absolute;
    left: 25%;
    transform: translate(-15%);
}
.caixas_de_registro{
    position: absolute;
    left: 40%;
    top: 39%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    max-width: 350px;
    height: 100%;
}
.caixas_de_registro input{
    height: 2em;
}
.caixas_de_registro input:hover{
    color: #03bbbb;
}
.caixas_de_registro input:focus{
    color: black;
    outline-color: #03bbbb;
}
.caixas_de_registro h1{
    font-size: 16px;
}
.texto_email{
    position: absolute;
    bottom: 99%;
}
.texto_senha{
    position: absolute;
    top: 8%;
}
.bloco_links{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1em;
    top: 58%;
    left: 5.5%;
}
.bloco_links a:focus{
    color: #00b9ff;
}
.botao_entrar{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #00b9ff;
    color: white;
    border: none;
    cursor: pointer;
}
.botao_entrar:hover{
    background-color: #02adeb;
}
#bloco_apresentacao{
    position: absolute;
    left: 65%;
    transform: translate(-190%);
    top: 15em;
    width: 100%;
    max-width: 350px;
    color: white;
}
#bloco_apresentacao h1{
    font-weight: bolder;
    font-size: 2.3em;
    font-family: fonte_titulo;
    background-clip: text;
    background: linear-gradient(to top, #02adeb, #9df9f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#bloco_apresentacao p{
    text-indent: 12px;
    font-weight: normal;
    font-size: 18px;
    font-family: fonte_texto;
    background-clip: text;
    background: linear-gradient(to top,#02adeb, #9df9f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1030px){

    #bloco_apresentacao{
        display: none;
    }
    #bloco_geral_login{
        position: absolute;
        left: 88%;
    }
}

@media (max-width: 600px) {

  #bloco_apresentacao {
    display: none;
  }
  #bloco_geral_login{
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 1.5em;
    margin-left: -0.6em;
  }
  .logo_wec{
    position: absolute;
    left: 13%;
  }
  .caixas_de_registro{
    position: absolute;
    left: 55%;
  }
  .caixas_de_registro input{
    width: 100%;
    max-width: 250px;
  }
  .bloco_links{
    width: 100%;
    max-width: 250px;
    padding-left: 3px;
  }
  .botao_entrar{
    position: absolute;
    top: 75%;
  }
}